.image{
    height: 100%;

   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('C:\Users\Olyun\Documents\VisualStudioCode\DEC_JWS_VSC\Angular\GroceryLists\src\assets\groceries.jpg'); 
  }